@import '/src/index.scss';

.game {
	/* .game__title */

	&__title {
		font-size: 45px;
		color: #ffff;
	}

	/* .game__categories */

	&__categories {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-wrap: wrap;
		font-size: 20px;
		margin: 10px;
	}

	/* .game__simple */

	&__simple {
	}

	/* .game__hard */

	&__hard {
	}

	/* .game__bible */

	&__bible {
	}

	/* .game__oponent */

	&__oponent {
	}

	/* .game__button */

	&__button {
		display: inline-block;
		margin: 0px 10px 0px 10px;
		position: relative;
		padding: 20px 15px 20px 15px;
		border-radius: 2px;
		font-size: 2rem;
		line-height: 18px;
		text-align: center;
		color: #000;
		cursor: pointer;

		@media (max-width: $tablet) {
			font-size: 1.5rem;
			margin: 10px 0px 0px 0px;
			padding: 15px 10px 15px 10px;
		}
		@media (max-width: $mobile) {
			font-size: 1rem;
			padding: 10px 10px 10px 10px;
		}

		&::before,
		&::after {
			content: '';
			border: 3px solid #000;
			position: absolute;
			width: calc(100% - 6px);
			height: calc(100% - 6px);
			left: 0;
			bottom: 0;
			transition: transform 0.3s ease;
		}
		&:hover::after {
			transform: translate(-5px, -5px);
		}
		&:hover::before {
			transform: translate(5px, 5px);
		}
	}

	/* .game__question */

	&__question {
		font-family: 'Marck Script';
		margin: 15px 0px 15px 0px;
		font-size: 3.8em;
		color: #ffff;
		text-align: center;
		@media (max-width: $mobile) {
			margin: 0px 0px 0px 0px;
			font-size: 3em;
		}
	}

	/* .game__timer */

	&__timer {
		margin: 10px 0px 0px 0px;
	}
	&__timer-body {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-wrap: wrap;
	}
}
.timer {
	/* .game__title */

	&__game {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	&__start {
	}

	&__pause {
	}

	&__reset {
	}

	&__time {
		text-align: center;
		margin: 20px 0px 20px 0px;
		font-size: 10em;
		color: #ffff;
	}
}
